body{
    font-size: 1.25rem;
    line-height: 1.6;
}

/* if you want to place image into start,center or end position then you have to use parent element of that images.*/


h1{
    font-family:'Jazzier','Garamond','cursive';
    color: #4676A9;
    text-align: center;
    line-height: 1.1;
}

header{
    display: flex;
    justify-content: space-between;
}

.primary-navigation ul{
    display: flex;
    gap:20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible{
    color: #5f9b9f;
}

/* h1{
    color:red;
} */
/* in css order is important. if you write h1 and after that second h1 with different attribute values then second one is always going to apply. */

/* p{
    margin-block: 50px;
    /* margin block adds margin between elements and we used block bcoz it is like block on one another. */ */


section{
    margin-block: 100px;
}

.wrapper{
    max-inline-size: 1000px;
    margin-inline: auto;
}

.two-column-layout{
    display: grid;
    gap: 60px;
    margin-block-end: 60px;
    
    @media (width > 600px){
        grid-template-columns: 1fr 1fr;
}
}



/* .accent{
    color: red;
} */

/* #firstpara{
    color:green;
} */


a{
    color: red;
}
a:visited{
    color: blue;
}
a:hover{
    color:purple;
}
a:active{
    color:black;
}

img{
    /* display: block; */
    max-inline-size: 100%;
}

h2{
    color: #cb721c;
}

ul{
    color:black;
}

li::marker{
    color: red;
}   
/* this is example of pesudo element  */

.teal-bg{
    color: #ffffff;
    padding: 20px;
    border: 10px solid #0b4a5a;
    background-color: #087a98;
}

.teal-bg strong{
    color:yellow;
}

.teal-text{
    color: #087a5a;
}

.climber-bg{
    color: #ffffff;
    background-image: url("../version_2/images/simple-steps.jpg");
    /* here currently we are in style.css folder so first we need to move out from that and for that ../ is used and then we are going into version_2/images/simple-steps.jpg. */
    padding:24px;
    border: 10px solid #0b4a5a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    padding:50px;
    text-align: center;
    background-color: #22466c;
    color: #ffffff;
}