body{
    font-size: 1.25rem;
    line-height: 1.6;
}

/* if you want to place image into start,center or end position then you have to use parent element of that images.*/
header{
    text-align: center;
}



h1{
    font-family:'Jazzier','Garamond','cursive';
    color: #4676A9;
    text-align: center;
    line-height: 1.1;
}
/* h1{
    color:red;
} */
/* in css order is important. if you write h1 and after that second h1 with different attribute values then second one is always going to apply. */

/* p{
    margin-block: 50px;
    /* margin block adds margin between elements and we used block bcoz it is like block on one another. */ */


section{
    margin-block: 100px;
}

/* .accent{
    color: red;
} */

/* #firstpara{
    color:green;
} */

a{
    color: red;
}
a:visited{
    color: blue;
}
a:hover{
    color:purple;
}
a:active{
    color:black;
}

h2{
    color: #cb721c;
}

.teal-bg{
    color: #ffffff;
    padding: 20px;
    border: 10px solid #0b4a5a;
    background-color: #087a98;
}

.teal-text{
    color: #087a5a;
}

footer{
    padding:50px;
    text-align: center;
    background-color: #22466c;
    color: #ffffff;
}