/* if you want to place image into start,center or end position then you have to use parent element of that images.*/
header{
    text-align: center;
}



h1{
    font-family:'Jazzier','Garamond','cursive';
    color: #4676A9;
    font-size: 50px;
    text-align: center;
}
/* h1{
    color:red;
} */
/* in css order is important. if you write h1 and after that second h1 with different attribute values then second one is always going to apply. */

h2{
    color: #cb721c;
}

footer{
    background-color: #22466c;
    color: #ffffff;
}